header{
    display: flex;
    justify-content: space-between;
    border: 1px solid mistyrose;
    background-color: #D6967E;
}
header img{
    width: 10%;
}
body{
    background-image: url(imagenes/fondo.jpg);
}
h1{
    margin: 5px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.menu {
    border: 1px solid mistyrose;
    background-color: #D6967E;
    text-align: center;
    box-shadow: 2px 2px 5px black;
    }
.menu a{
    color: white;
    text-decoration: none;
    border: solid 1px;
    border-radius: 3px;
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 5px mediumpurple;
}
.menu ul{
    list-style: none;
    padding-left: 0px;
}
table{
    margin: 5px;
}
table th{
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: brown;
    background-color: #ffd566;
    text-decoration: none;
}
table td{
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: brown;
    background-color: white;
    text-decoration: none;
}
table img{
    width: 10%;
}
.boton {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: brown;
    background-color: #ffd566;
    text-decoration: none;
}
.boton:hover{
    background-color: #ecc720;
}
footer{
    border: 1px solid mistyrose;
    background-color: grey;
}
footer a{
    color: black;
    text-decoration: none;
}
nav{ grid-area: n;}
article{ grid-area: a;}
header{ grid-area: h;}
footer{ grid-area: f;}

main{
    display: grid;
    grid-template-areas: 
    "h h h h h"
    "n a a a a"
    "n a a a a"
    "n f f f f";
}
@media screen and (max-width: 1000px){
    main{
        grid-template-areas: 
        "h h h h"
        "n n n n"
        "a a a a"
        "a a a a"
        "f f f f";
}
}